body {  
  background: url("../assets/FondoLibreriaOrion.png");
  background-repeat: no-repeat;
  background-size: cover; 
    color: #f5f5f5;}
    
    
    .galaxy {
      width: 100%;
      height: 100%; 
      margin: 0 auto; 
      margin-top: 20px;
      display: flex;
      background:  url("../assets/constelacion.png");
      background-size: 80%;
      background-position: top center;
      background-repeat: no-repeat;
      
      

    }
    
    .constelation {
      background: transparent;
      width: inherit;
      height: auto;
      margin: 0 auto; 
      flex-flow: column;
      display: flex;
      align-items: center; 
      justify-content: center;
    }
    
    constelation br {display: block;}
    .constelation p {
      font: 9px 'Arial';
      letter-spacing: 1px;
      height: auto;
      width: 500px;
      margin: 0 auto;
      color: #f5f5f5;
      text-align: center;
      
    }
    
    .constelation h1 {
      text-transform: uppercase;
      letter-spacing: 10px;
      font: 30px 'Arial';
    }
    
    
    .estrella {
      height: 100%; 
      flex-flow: column;
      background: transparent;
      display:flex;
      align-items: center;
      position: relative;
      box-sizing: content-box;
      width: auto;
      
    }
    
    
    .event {
      width: 25vw; 
      height: 15vw;
      margin: 85px 55px 0 45px;
      transform: rotate(45deg);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-flow: row;
    }
    
   
    
    .btn {
      background-color: #000;
      color: #fff;
      padding: 8px;
      border: none;
      margin-top: 20px;
      border-radius: 4px;
      border-right: 1px solid #f5f5f5;
      border-left: 1px solid #f5f5f5;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
    
      
    }
    .dot {
      width: 10px;
      border-radius: 50%;
      height: 10px;
      background: url('../assets/Estrella.png');
      position: relative;
      outline: 1px solid #f5f5f5;
      outline-offset: 5px;
      margin: 0px -15px 0 15px;
      cursor: pointer;
      animation-name: sparkle;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    
    @keyframes sparkle {
      0% {background: #eee; box-shadow: 1px -1px 6px #F0F5F7;}
      15% {background: #fefefe; box-shadow: 1px 1px 1px #F0F5F7;}
      50% {background: #E2E7FC; box-shadow: 1px -1px 5px #F0F5F7;}
      65% {background: #CAD4E0; box-shadow: -1px 1px 6px #F0F5F7;}
      100% {box-shadow: 1px -1px 8px #F0F5F7;}
    }
    
    .theev {
      width: 150px;
      height: auto;
      position: absolute;
      margin: 25px 0 0 0;
      background: #f5f5f5;
      font-family: 'Arial'; 
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 5px;
      color: #0e0e0e;
      text-decoration: none;
      opacity: 0;
      z-index: -1;
      font-size: 11px;
      transition: all 400ms ease-in-out;
      color: #0e0e0e;
    }
    
    
    .dot:hover .theev {
      opacity: 1;
      z-index: 9!important;
      
    }
    
    .dentr1 {
      width: 8px; 
      height: 8px; 
      background: #f5f5f5;
      border-radius: 50%;
      outline: 1px solid #f5f5f5;
      outline-offset: 10px;
      cursor: pointer;
      animation-name: sparkle1;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    
    
    @keyframes sparkle1 {
      0% {background: #eee; box-shadow: 1px -1px 6px #F0E0F7;}
      15% {background: #fefefe; box-shadow: 1px 1px 1px #F0E0F7;}
      50% {background: #DBF3FF; box-shadow: 1px -1px 5px #F0E0F7;}
      65% {background: #CAD4E0; box-shadow: -1px 1px 6px #F0E0F7;}
      100% {box-shadow: 1px -1px 8px #F0E0F7;}
    }
    
    
    
    .theev2 {
      width: 150px;
      height: auto;
      position: absolute;
      opacity: 0;
      transform: rotate(-45deg);
      font-size: 11px;
      background: #f5f5f5;
      margin: -65px 0 0 -70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-family: 'Arial';
      padding: 5px;
      color: #0e0e0e;
      text-decoration: none;
      z-index: -9;
      transition: all 400ms ease-in-out;
    }
    
    
    .theev3 {
      width: 150px;
      height: auto;
      position: absolute;
      opacity: 0;
      transform: rotate(-45deg);
      font-size: 11px;
      background: #f5f5f5;
      margin: -65px 0 0 -70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-family: 'Arial';
      padding: 5px;
      color: #0e0e0e;
      text-decoration: none;
      z-index: -9;
      transition: all 400ms ease-in-out;
    }
    
    .dentr1:hover .theev2 {
      opacity: 1;
      z-index: 9!important;
    }
    .dentr1:hover  {
      width: 10px;
      height: 10px;
    }
    
    .dentr2:hover .theev3 {
      opacity: 1;
      z-index: 9!important;
      
    }
    .dentr2:hover {
      
      width: 10px;
      height: 10px;
    }
    
    .dentr2 {
      width: 8px; 
      height: 8px; 
      background: #f5f5f5;
      border-radius: 50%;
      outline: 1px solid #f5f5f5;
      outline-offset: 10px;
      position: relative;
      top: 150px;
      left: 150px;
      cursor: pointer;
      animation-name: sparkle2;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    
    @keyframes sparkle2 {
      0% {background: #eee; box-shadow: 1px -1px 6px #F7E3D8;}
      15% {background: #fefefe; box-shadow: 1px 1px 1px #F7E3D8;}
      50% {background: #F7E3D8; box-shadow: 1px -1px 5px #F7E3D8;}
      65% {background: #CAD4E0; box-shadow: -1px 1px 6px #F7E3D8;}
      100% {box-shadow: 1px -1px 8px #F7E3D8;}
    }
    
    .galaxy ::-webkit-scrollbar {
      background: transparent;
      height: 10px;
    }
    
    .galaxy ::-webkit-scrollbar-track {
      background: black;
    }
    
    .galaxy ::-webkit-scrollbar-thumb {
      background: #299ae0;
      border: 3px solid #000;
    }