.contenedorImg {
   
    background: url('../assets/FondoModal.png');
    background-size: cover; 
    background-position: top center;
    background-repeat: no-repeat;
    
    

  }
  .contenedor{
    flex-flow: column;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 2rem;

  }
  .navbarImg {
    background: url('../assets/navbarImg.png');
    background-size: cover; 
    background-position: top center;
    background-repeat: no-repeat;
  }
  .buttonImg{
    
    background: url('../assets/buttonModal.png');
    margin-top: 10vh;
    width: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
  }